header{
    border: 1px solid red;
    padding: 69px;
}

h1{
    border: 1px solid green;
    height: 60px;
    display: inline;
}

p{
    border: 1 px solid purple;
    margin: 20px;
    display: inline;
}